body {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        ". postDetail .";
}

.postDetail {
    grid-area: postDetail;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: 
        "title title title"
        "description . tags"
        "author . created_date"
        "text text text";
    grid-column-gap: 5%;
    grid-row-gap: 5%;
    
}

.author {
    grid-area: author;
    font-size: 1.5em;
    text-align: left;
}
    
.title {
    grid-area: title;
    font-size: 3em;
    text-align: center;
}

.description {
    grid-area: description;
    font-size: 2em;
    color: grey;
    text-align: left;
}

.text {
    grid-area: text;
    font-size: 1.5em;
    text-align: center;
}

.created_date {
    grid-area: created_date;
    font-size: 1em;
    text-align: right;
}

.tags {
    grid-area: tags;
    font-size: 1em;
    text-align: right;
}