@font-face {
  font-family: antiqua;
  src: url(c:\windows\fonts\book-antiqua\BKANT.TTF);
}

body {
  font-family: antiqua;
  margin: 0;
  padding: 0;
  font-size: 14px;
  background-color: #f6f6f6;
}

/* HEADER */
h1 {
  padding-top: 2%;
  margin: 0;
}

.header {
  background-color: #e8f3ec;
  text-align: center;
  padding-bottom: 2%;
}

/* NAVBAR */
.heading {
  float: left;
  padding-left: 5%;
  padding-top: 1.5%;
}

.navbar {
  background-color: #e8f3ec;
  text-align: center;
  padding-bottom: 5%;
  /* height: 120%; */
}

ul {
  list-style: none;
  padding: 0;
  padding-right: 3%;
  margin: 0;
  text-decoration: none;
}

li {
  margin: 2%;
  display: block;
  float: right;
}

a {
  text-decoration: none;
  font-size: 20px;
  color: black;
}

.active {
  border-bottom: 2px solid #3dae5f;
}

/* CONTAINER */
.container {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 40%;
  grid-template-areas:
    ". welcome ."
    ". buttons .";
}

.welcome {
  margin-top: 15%;
  grid-area: welcome;
  display: block;
  /* margin: 15% auto; */
  text-align: center;
  font-size: 2em;
}

.buttons {
  grid-area: buttons;
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-row-gap: 2%;
  grid-template-areas:
    ". login ."
    ". or ."
    ". signup .";
}

.logIn {
  grid-area: login;
  display: block;
  border: 2px solid #3dae5f;
  border-radius: 9px;
  background-color: white;
  color: #3dae5f;
  font-size: 1.5em;
}

.logIn:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 10px 45px 0px rgba(120, 120, 120, 1);
  -moz-box-shadow: 0px 10px 45px 0px rgba(120, 120, 120, 1);
  box-shadow: 0px 10px 45px 0px rgba(120, 120, 120, 1);
}

.logIn:focus {
  outline: 0;
}

.or {
  grid-area: or;
  text-align: center;
  font-size: 2em;
  color: grey;
  margin-top: 12%;
}

.signUp {
  grid-area: signup;
  display: block;
  border: 2px solid #3dae5f;
  border-radius: 9px;
  background-color: white;
  color: #3dae5f;
  font-size: 1.5em;
}

.signUp:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 10px 45px 0px rgba(120, 120, 120, 1);
  -moz-box-shadow: 0px 10px 45px 0px rgba(120, 120, 120, 1);
  box-shadow: 0px 10px 45px 0px rgba(120, 120, 120, 1);
}

.signUp:focus {
  outline: 0;
}

/* POST LIST STYLE */
.PostList {
  /* display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 5%;
    grid-template-areas:
            ". item1 ."
            ". item2 ."
            ". item3 ."
            ". item4 ."
            ". item5 ."; */
}

/* POST PREVIEW STYLE */
.PostPreview {
  padding: 40px;
  background-color: white;
  border: 2px solid transparent;
  border-radius: 15px;
  width: 40%;
  margin: 0 auto;
  margin-bottom: 5%;
  margin-top: 5%;
  -webkit-box-shadow: 6px 10px 41px -13px rgba(0, 0, 0, 1);
  -moz-box-shadow: 6px 10px 41px -13px rgba(0, 0, 0, 1);
  box-shadow: 6px 10px 41px -13px rgba(0, 0, 0, 1);
  display: grid;
  grid-template-rows: 0.5fr 1fr 1fr;
  grid-template-areas:
    "preview ."
    "title title"
    "description description";
}

.PostPreview:hover {
  cursor: pointer;
}

.previewDetail {
  display: grid;
  grid-area: preview;
  grid-template-columns: 1fr 5fr;
  grid-column-gap: 5%;
  grid-template-rows: auto auto;
  grid-template-areas:
    "image author"
    "image date";
}

.profileImage {
  margin-top: 5%;
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.author {
  grid-area: author;
  font-size: 18px;
}

.date {
  grid-area: date;
  font-size: 18px;
}

.title {
  grid-area: title;
}

.description {
  grid-area: description;
  font-size: 16px;
  color: #707070;
}

/* POST DETAIL STYLE */
/* .postDetail {
    grid-area: postDetail;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: 
        "title title title"
        "description . tags"
        "author . created_date"
        "text text text";
    grid-column-gap: 5%;
    grid-row-gap: 5%;
    
}

.author {
    grid-area: author;
    font-size: 1.5em;
    text-align: left;
}
    
.title {
    grid-area: title;
    font-size: 3em;
    text-align: center;
}

.description {
    grid-area: description;
    font-size: 2em;
    color: grey;
    text-align: left;
}

.text {
    grid-area: text;
    font-size: 1.5em;
    text-align: center;
}

.created_date {
    grid-area: created_date;
    font-size: 1em;
    text-align: right;
}

.tags {
    grid-area: tags;
    font-size: 1em;
    text-align: right;
} */
